.coming-soon h1 {
    font-weight: 600;
    font-size: 2.66em;
    line-height: 2em;
}

.coming-soon p{
    font-size: 1em;
    line-height: 2em;
}

.coming-soon a{

    font-weight: 600;
    font-size: 1.33em;
}

.main-form input{
    color: white!important;
    border-color: white!important;
}



