.app-text h1{
    font-weight: 600;
    font-size: 1.33em;
    line-height: 2.78em;
    margin: 0px;
}

.app-text p{
    font-size: 1em;
    line-height: 1.66em;
    margin: 0px;
}

.cta{
    color: var(--main-dark-color);
}
.btn-dark{
    background-color: var(--main-dark-color)!important;
}

.cta h1{
    font-weight: 600;
    font-size: 2em;
    line-height:  1.5em;
}

.cta hr{
    border-top: 2px solid var(--secondary-color);
    margin-top: 0px;
    margin-bottom: 30px;
    width: 13%;
    margin-left: auto ;
    margin-right: auto;
}

.cta p{
    font-weight: normal;
    font-size: 1.33em;
    line-height:  1.5em;
}


.footer-form input{
    color: var(--main-dark-color)!important;
    border-color:  var(--main-dark-color)!important;
}

.footer-form button{

border-radius: 5px ;
}

.copyright{
    font-weight: 300;
font-size: 14px;
line-height: 50px;
}



/* Small Screens */
@media (max-width: 576px) {

    .footer-form input{
        width: 100%!important;
    }
    .footer-form button{

        width: 100%!important;
        }
   .app-info{
       padding: 10px 0px;
   }
}