
:root {
    --main-bg-color: #2F2E41;
    --secondary-color: #FF8222;
    --main-dark-color: #131023; 
  }
  
html{
    width: 100vw;
}
body {
    background-color: var(--main-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Poppins,sans-serif;
    max-width: 1440px;
}
.bgContainer{
    z-index: -5;
    max-width: 1440px;
    width: 100%;
}
.vector-bg{
    z-index: -2;
    position: relative;
    
}

.level-1{
    z-index: -1;
    position: absolute;
}
.top-right-bg{
    right: 0px;
    top: 0px;
}

.mid-left-bg{
    top: 95vh;
    left:-10px;
}
.x-dots-2{
  
    top: 100vh
}
.bottom-right-bg{
    right: 0px;
    top: 220vh;
}

.btn{
font-weight: 600!important;
text-transform: capitalize;
border-radius: 0px 5px 5px 0px;
}

.form-control,
.btn {
    height: 60px;
    font-size: 24px!important;
    line-height: 36px!important;
}

form{
   
}